# Descriptive statistics in Pandas

- This notebook shows how to use the method `describe`.

In [2]:
import pandas as pd

## We'll be working with the trips data

In [3]:
# Load the station.csv file
trip = pd.read_csv(filepath_or_buffer='~/python_basics_training/sessions/session_2/trip.csv')

In [4]:
trip.head()

,id,duration,start_time,start_station_name,start_station_id,end_time,end_station_name,end_station_id,bike_id
0,4576,63,2013-08-29 14:13:00,South Van Ness at Market,66,2013-08-29 14:14:00,South Van Ness at Market,66,520
1,4607,70,2013-08-29 14:42:00,San Jose City Hall,10,2013-08-29 14:43:00,San Jose City Hall,10,661
2,4130,71,2013-08-29 10:16:00,Mountain View City Hall,27,2013-08-29 10:17:00,Mountain View City Hall,27,48
3,4251,77,2013-08-29 11:29:00,San Jose City Hall,10,2013-08-29 11:30:00,San Jose City Hall,10,26
4,4299,83,2013-08-29 12:02:00,South Van Ness at Market,66,2013-08-29 12:04:00,Market at 10th,67,319

## Describe

- The method [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) generates descriptive statistics for a given vector or set of vectors.

### What is the distribution of the number of trips by start_station_name

In [8]:
# Start by creating a dataframe with the number of trips by start_station_name
cnt_trip = trip.groupby(by='start_station_name', as_index=False).id.count()
cnt_trip.head()

  start_station_name     id
0      2nd at Folsom  15940
1  2nd at South Park  18496
2    2nd at Townsend  25837
3      5th at Howard  13526
4   Adobe on Almaden   1257

- Why do we want to know the distribution of the number of trips by start station?
- What can we learn from that distribution to inform decision makers on how to improve their service?

In [9]:
cnt_trip.id.describe()

count       74.00000
mean      9053.50000
std      10045.49677
min         23.00000
25%       1522.50000
50%       4076.50000
75%      13922.00000
max      49092.00000
Name: id, dtype: float64