# Grouping by in Pandas

In [1]:
import pandas as pd

### Start by loading the trips data

- Remember that in this dataset each row is a trip. 
- We have the data for the station where the trip started and the station where the trip ended.

In [7]:
# Load the station.csv file
trip = pd.read_csv(filepath_or_buffer='~/python_basics_training/sessions/session_2/trip.csv')

In [10]:
trip.head()

,id,duration,start_time,start_station_name,start_station_id,end_time,end_station_name,end_station_id,bike_id
0,4576,63,2013-08-29 14:13:00,South Van Ness at Market,66,2013-08-29 14:14:00,South Van Ness at Market,66,520
1,4607,70,2013-08-29 14:42:00,San Jose City Hall,10,2013-08-29 14:43:00,San Jose City Hall,10,661
2,4130,71,2013-08-29 10:16:00,Mountain View City Hall,27,2013-08-29 10:17:00,Mountain View City Hall,27,48
3,4251,77,2013-08-29 11:29:00,San Jose City Hall,10,2013-08-29 11:30:00,San Jose City Hall,10,26
4,4299,83,2013-08-29 12:02:00,South Van Ness at Market,66,2013-08-29 12:04:00,Market at 10th,67,319

### How many unique start stations do we have?

In [57]:
trip.start_station_name.unique().shape

(74,)

### How many unique end stations do we have?

In [58]:
trip.start_station_name.unique().shape

(74,)

### Is there any start station not available as end station?

- No :)

In [59]:
set(trip.start_station_name.unique()) ^ set(trip.start_station_name.unique())

set()

### How many trips per start station do we have?

#### SQL answer

```
SELECT start_station_name AS start_station
       COUNT(id) AS cnt_trips
  FROM trip
 GROUP BY start_station_name
```

### Start by creating a groupby object

- You will need to pass as parameter to the groupby method the columns that you want to use to aggregate.
- In this case, it would be start_station_name.

In [67]:
g_object = trip.groupby(by='start_station_name')
type(g_object)

pandas.core.groupby.groupby.DataFrameGroupBy

- That object is a list of tuples where each tuple has two items. The first item is the key used to group by and the second item is the dataframe that corresponds to that key. 
- If there are 70 unique start_station_id, how many keys does the object contain?
- If there are 70 unique start_station_id, how many dataframes does the object contain?

In [64]:
print([key for key,df in g_object])

['2nd at Folsom', '2nd at South Park', '2nd at Townsend', '5th at Howard', 'Adobe on Almaden', 'Arena Green / SAP Center', 'Beale at Market', 'Broadway St at Battery St', 'Broadway at Main', 'California Ave Caltrain Station', 'Castro Street and El Camino Real', 'Civic Center BART (7th at Market)', 'Clay at Battery', 'Commercial at Montgomery', 'Cowper at University', 'Davis at Jackson', 'Embarcadero at Bryant', 'Embarcadero at Folsom', 'Embarcadero at Sansome', 'Embarcadero at Vallejo', 'Evelyn Park and Ride', 'Franklin at Maple', 'Golden Gate at Polk', 'Grant Avenue at Columbus Avenue', 'Harry Bridges Plaza (Ferry Building)', 'Howard at 2nd', 'Japantown', 'MLK Library', 'Market at 10th', 'Market at 4th', 'Market at Sansome', 'Mechanics Plaza (Market at Battery)', 'Mezes Park', 'Mountain View Caltrain Station', 'Mountain View City Hall', 'Palo Alto Caltrain Station', 'Park at Olive', 'Paseo de San Antonio', 'Post at Kearney', 'Post at Kearny', 'Powell Street BART', 'Powell at Post (Union Square)', 'Redwood City Caltrain Station', 'Redwood City Medical Center', 'Redwood City Public Library', 'Rengstorff Avenue / California Street', 'Ryland Park', 'SJSU - San Salvador at 9th', 'SJSU 4th at San Carlos', 'San Antonio Caltrain Station', 'San Antonio Shopping Center', 'San Francisco Caltrain (Townsend at 4th)', 'San Francisco Caltrain 2 (330 Townsend)', 'San Francisco City Hall', 'San Jose City Hall', 'San Jose Civic Center', 'San Jose Diridon Caltrain Station', 'San Jose Government Center', 'San Mateo County Center', 'San Pedro Square', 'San Salvador at 1st', 'Santa Clara County Civic Center', 'Santa Clara at Almaden', 'South Van Ness at Market', 'Spear at Folsom', 'St James Park', 'Stanford in Redwood City', 'Steuart at Market', 'Temporary Transbay Terminal (Howard at Beale)', 'Townsend at 7th', 'University and Emerson', 'Washington at Kearney', 'Washington at Kearny', 'Yerba Buena Center of the Arts (3rd @ Howard)']

### Now that you have a groupby object, you can apply operations to one or multiple columns

- Just as a reminder, this is how the `trips` data looks like:

In [71]:
trip.head()

,id,duration,start_time,start_station_name,start_station_id,end_time,end_station_name,end_station_id,bike_id
0,4576,63,2013-08-29 14:13:00,South Van Ness at Market,66,2013-08-29 14:14:00,South Van Ness at Market,66,520
1,4607,70,2013-08-29 14:42:00,San Jose City Hall,10,2013-08-29 14:43:00,San Jose City Hall,10,661
2,4130,71,2013-08-29 10:16:00,Mountain View City Hall,27,2013-08-29 10:17:00,Mountain View City Hall,27,48
3,4251,77,2013-08-29 11:29:00,San Jose City Hall,10,2013-08-29 11:30:00,San Jose City Hall,10,26
4,4299,83,2013-08-29 12:02:00,South Van Ness at Market,66,2013-08-29 12:04:00,Market at 10th,67,319

- And this is the SQL query that we want to run:

```
SELECT start_station_name AS start_station
       COUNT(id) AS cnt_trips
  FROM trip
 GROUP BY start_station_name
```

- So we would like to count the number of trips per start_station. 
- This is how you do it in Python:

In [73]:
trip.groupby(by='start_station_name').id.count()

start_station_name
2nd at Folsom                                    15940
2nd at South Park                                18496
2nd at Townsend                                  25837
5th at Howard                                    13526
Adobe on Almaden                                  1257
Arena Green / SAP Center                          1496
Beale at Market                                  15709
Broadway St at Battery St                        10310
Broadway at Main                                    67
California Ave Caltrain Station                   1026
Castro Street and El Camino Real                  2035
Civic Center BART (7th at Market)                14102
Clay at Battery                                   9994
Commercial at Montgomery                         11888
Cowper at University                              1374
Davis at Jackson                                  9957
Embarcadero at Bryant                            14811
Embarcadero at Folsom                            14054
Embarcadero at Sansome                           27713
Embarcadero at Vallejo                           10592
Evelyn Park and Ride                              1667
Franklin at Maple                                  224
Golden Gate at Polk                               7342
Grant Avenue at Columbus Avenue                  16306
Harry Bridges Plaza (Ferry Building)             32934
Howard at 2nd                                    13163
Japantown                                         1910
MLK Library                                       2034
Market at 10th                                   20272
Market at 4th                                    20165
                                                 ...
Redwood City Public Library                        213
Rengstorff Avenue / California Street             1129
Ryland Park                                       1747
SJSU - San Salvador at 9th                        1473
SJSU 4th at San Carlos                            1170
San Antonio Caltrain Station                      1990
San Antonio Shopping Center                       1818
San Francisco Caltrain (Townsend at 4th)         49092
San Francisco Caltrain 2 (330 Townsend)          33742
San Francisco City Hall                           4535
San Jose City Hall                                2393
San Jose Civic Center                             1594
San Jose Diridon Caltrain Station                 9558
San Jose Government Center                          23
San Mateo County Center                            287
San Pedro Square                                  2917
San Salvador at 1st                               1692
Santa Clara County Civic Center                    840
Santa Clara at Almaden                            3861
South Van Ness at Market                         12880
Spear at Folsom                                  11949
St James Park                                     1680
Stanford in Redwood City                           436
Steuart at Market                                24838
Temporary Transbay Terminal (Howard at Beale)    26089
Townsend at 7th                                  23724
University and Emerson                            1512
Washington at Kearney                             1472
Washington at Kearny                              4292
Yerba Buena Center of the Arts (3rd @ Howard)    11251
Name: id, Length: 74, dtype: int64

### And what if we want to add an order_by clause to that line of code?

```
SELECT start_station_name AS start_station
       COUNT(id) AS cnt_trips
  FROM trip
 GROUP BY start_station_name
 ORDER BY cnt_trips DESC
```

- We can just use the method `sort_values`

In [76]:
trip.groupby(by='start_station_name').id.count().sort_values(ascending=False)

start_station_name
San Francisco Caltrain (Townsend at 4th)         49092
San Francisco Caltrain 2 (330 Townsend)          33742
Harry Bridges Plaza (Ferry Building)             32934
Embarcadero at Sansome                           27713
Temporary Transbay Terminal (Howard at Beale)    26089
2nd at Townsend                                  25837
Steuart at Market                                24838
Market at Sansome                                24172
Townsend at 7th                                  23724
Market at 10th                                   20272
Market at 4th                                    20165
2nd at South Park                                18496
Powell Street BART                               18378
Grant Avenue at Columbus Avenue                  16306
2nd at Folsom                                    15940
Beale at Market                                  15709
Embarcadero at Bryant                            14811
Civic Center BART (7th at Market)                14102
Embarcadero at Folsom                            14054
5th at Howard                                    13526
Howard at 2nd                                    13163
South Van Ness at Market                         12880
Powell at Post (Union Square)                    12496
Mechanics Plaza (Market at Battery)              12224
Spear at Folsom                                  11949
Commercial at Montgomery                         11888
Yerba Buena Center of the Arts (3rd @ Howard)    11251
Embarcadero at Vallejo                           10592
Broadway St at Battery St                        10310
Clay at Battery                                   9994
                                                 ...
Castro Street and El Camino Real                  2035
MLK Library                                       2034
San Antonio Caltrain Station                      1990
Japantown                                         1910
San Antonio Shopping Center                       1818
Ryland Park                                       1747
San Salvador at 1st                               1692
St James Park                                     1680
Evelyn Park and Ride                              1667
San Jose Civic Center                             1594
Redwood City Caltrain Station                     1554
University and Emerson                            1512
Arena Green / SAP Center                          1496
SJSU - San Salvador at 9th                        1473
Washington at Kearney                             1472
Cowper at University                              1374
Adobe on Almaden                                  1257
SJSU 4th at San Carlos                            1170
Rengstorff Avenue / California Street             1129
California Ave Caltrain Station                   1026
Santa Clara County Civic Center                    840
Park at Olive                                      750
Stanford in Redwood City                           436
Mezes Park                                         341
Redwood City Medical Center                        311
San Mateo County Center                            287
Franklin at Maple                                  224
Redwood City Public Library                        213
Broadway at Main                                    67
San Jose Government Center                          23
Name: id, Length: 74, dtype: int64

- So the the station where most trips start is **San Francisco Caltrain (Townsend at 4th)**.