# Python stuf: Functions

### What is a function?

### Anatomy of a function

- Taken from Duke University [here](http://people.duke.edu/~ccc14/sta-663-2018/notebooks/S02_Python_Functions_Annotated.html).

In [1]:
def func_name(arg1, arg2):
    """
    Args:
        arg1 (int): one integer
        arg2 (int): another integer

    Returns:
        result (int): the sum of both integers

    """
    result = arg1 + arg2

    return result

### Average

- How would you write a function to return an average?

# Pandas stuff: Selecting rows and columns

In [3]:
import pandas as pd

In [6]:
# Load the station.csv file
sta = pd.read_csv(filepath_or_buffer='https://raw.githubusercontent.com/Sayalave/python_basics_training/master/sessions/session_2/station.csv')

### Head

In [7]:
sta.head()

,station_id,station_name,lat,long,dock_count,city,installation_date,zip_code
0,2,San Jose Diridon Caltrain Station,37.3297,-121.902,27,San Jose,2013-08-06,95113
1,3,San Jose Civic Center,37.3307,-121.889,15,San Jose,2013-08-05,95113
2,4,Santa Clara at Almaden,37.3340,-121.895,11,San Jose,2013-08-06,95113
3,5,Adobe on Almaden,37.3314,-121.893,19,San Jose,2013-08-05,95113
4,6,San Pedro Square,37.3367,-121.894,15,San Jose,2013-08-07,95113

### Tail

In [8]:
sta.tail()

,station_id,station_name,lat,long,dock_count,city,installation_date,zip_code
65,77,Market at Sansome,37.7896,-122.401,27,San Francisco,2013-08-25,94107
66,80,Santa Clara County Civic Center,37.3526,-121.906,15,San Jose,2013-12-31,95113
67,82,Broadway St at Battery St,37.7985,-122.401,15,San Francisco,2014-01-22,94107
68,83,Mezes Park,37.4913,-122.236,15,Redwood City,2014-02-20,94063
69,84,Ryland Park,37.3427,-121.896,15,San Jose,2014-04-09,95113

### Index

In [10]:
sta.iloc[50:60, :]

,station_id,station_name,lat,long,dock_count,city,installation_date,zip_code
50,62,2nd at Folsom,37.7853,-122.396,19,San Francisco,2013-08-22,94107
51,63,Howard at 2nd,37.7870,-122.398,19,San Francisco,2013-08-22,94107
52,64,2nd at South Park,37.7823,-122.393,15,San Francisco,2013-08-22,94107
53,65,Townsend at 7th,37.7711,-122.403,15,San Francisco,2013-08-22,94107
54,66,South Van Ness at Market,37.7748,-122.419,19,San Francisco,2013-08-23,94107
55,67,Market at 10th,37.7766,-122.417,27,San Francisco,2013-08-23,94107
56,68,Yerba Buena Center of the Arts (3rd @ Howard),37.7849,-122.401,19,San Francisco,2013-08-23,94107
57,69,San Francisco Caltrain 2 (330 Townsend),37.7766,-122.395,23,San Francisco,2013-08-23,94107
58,70,San Francisco Caltrain (Townsend at 4th),37.7766,-122.395,19,San Francisco,2013-08-23,94107
59,71,Powell at Post (Union Square),37.7884,-122.409,19,San Francisco,2013-08-23,94107

In [11]:
sta.iloc[50:60, 0:2]

    station_id                                   station_name
50          62                                  2nd at Folsom
51          63                                  Howard at 2nd
52          64                              2nd at South Park
53          65                                Townsend at 7th
54          66                       South Van Ness at Market
55          67                                 Market at 10th
56          68  Yerba Buena Center of the Arts (3rd @ Howard)
57          69        San Francisco Caltrain 2 (330 Townsend)
58          70       San Francisco Caltrain (Townsend at 4th)
59          71                  Powell at Post (Union Square)

### Columns

In [12]:
sta.columns

Index(['station_id', 'station_name', 'lat', 'long', 'dock_count', 'city',
       'installation_date', 'zip_code'],
      dtype='object')

In [13]:
sta['station_id']

0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     10
9     11
10    12
11    13
12    14
13    16
14    21
15    22
16    23
17    24
18    25
19    26
20    27
21    28
22    29
23    30
24    31
25    32
26    33
27    34
28    35
29    36
      ..
40    51
41    39
42    54
43    55
44    56
45    57
46    58
47    59
48    60
49    61
50    62
51    63
52    64
53    65
54    66
55    67
56    68
57    69
58    70
59    71
60    72
61    73
62    74
63    75
64    76
65    77
66    80
67    82
68    83
69    84
Name: station_id, Length: 70, dtype: int64

In [14]:
sta['station_name']

0                 San Jose Diridon Caltrain Station
1                             San Jose Civic Center
2                            Santa Clara at Almaden
3                                  Adobe on Almaden
4                                  San Pedro Square
5                              Paseo de San Antonio
6                               San Salvador at 1st
7                                         Japantown
8                                San Jose City Hall
9                                       MLK Library
10                           SJSU 4th at San Carlos
11                                    St James Park
12                         Arena Green / SAP Center
13                       SJSU - San Salvador at 9th
14                                Franklin at Maple
15                    Redwood City Caltrain Station
16                          San Mateo County Center
17                      Redwood City Public Library
18                         Stanford in Redwood City
19                      Redwood City Medical Center
20                          Mountain View City Hall
21                   Mountain View Caltrain Station
22                     San Antonio Caltrain Station
23                             Evelyn Park and Ride
24                      San Antonio Shopping Center
25                 Castro Street and El Camino Real
26            Rengstorff Avenue / California Street
27                       Palo Alto Caltrain Station
28                           University and Emerson
29                  California Ave Caltrain Station
                          ...
40                            Embarcadero at Folsom
41                               Powell Street BART
42                            Embarcadero at Bryant
43    Temporary Transbay Terminal (Howard at Beale)
44                                  Beale at Market
45                                    5th at Howard
46                          San Francisco City Hall
47                              Golden Gate at Polk
48                           Embarcadero at Sansome
49                                  2nd at Townsend
50                                    2nd at Folsom
51                                    Howard at 2nd
52                                2nd at South Park
53                                  Townsend at 7th
54                         South Van Ness at Market
55                                   Market at 10th
56    Yerba Buena Center of the Arts (3rd @ Howard)
57          San Francisco Caltrain 2 (330 Townsend)
58         San Francisco Caltrain (Townsend at 4th)
59                    Powell at Post (Union Square)
60                Civic Center BART (7th at Market)
61                  Grant Avenue at Columbus Avenue
62                                Steuart at Market
63              Mechanics Plaza (Market at Battery)
64                                    Market at 4th
65                                Market at Sansome
66                  Santa Clara County Civic Center
67                        Broadway St at Battery St
68                                       Mezes Park
69                                      Ryland Park
Name: station_name, Length: 70, dtype: object